.dash_leftbar{
  width: 350px;
  // background: #2a58ad ;
  background: #2a58ad url('../assets/images/side_nav_bg.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  & .profileDetails{
    height: 300px;
    width: 100%;
    min-height: 300px;
    & img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
}
