<div class="p-l-50 p-r-50 p-t-20 p-b-20" ng-nicescroll>
    <div layout="row" class="m-t-10 m-b-45">
        <div>
            <h3 class="md-title m-0 grey-text text-darken-2">Add Student</h3>
            <p class="m-0 md-caption">Details Of the student</p>
        </div>
        <span flex></span>
        <md-button class="md-raised addon-bg white-text m-0" ng-click="studentList()">View List</md-button>
    </div>


      <md-card class="p-25 m-0">
        <form name="studentForm">
            <div layout="row">
                    <md-input-container class="md-block" flex="33">
                        <label>First Name</label>
                        <input required md-no-asterisk name="sfname" ng-model="student.sfname">
                        <div ng-messages="studentForm.sfname.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block m-l-10" flex="33">
                        <label>Last Name</label>
                        <input md-no-asterisk name="slname" ng-model="student.slname">
                        <div ng-messages="studentForm.slname.$error">
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block m-l-10" flex="33">
                            <label>Phone Number</label>
                            <input required md-asterisk name="user" ng-model="student.user">
                            <div ng-messages="studentForm.user.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                </div>
                <div layout="row">
                        <md-input-container class="md-block" flex="33">
                            <label>Age</label>
                            <input required md-no-asterisk name="sage" ng-model="student.sage" class="m-b-5">
                            <div class="hint md-caption">Enter Student Age</div>
                            <div ng-messages="studentForm.sage.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block m-l-10" flex="33">
                            <label>Blood Group</label>
                            <input required md-no-asterisk name="sbGroup" ng-model="student.sbGroup" class="m-b-5">
                            <div class="hint md-caption">Enter Student Blood Group</div>
                            <div ng-messages="studentForm.sbGroup.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block m-l-10" flex="33">
                            <label>Email</label>
                            <input md-no-asterisk name="semail" ng-model="student.semail" required class="m-b-5">
                            <div class="hint md-caption">Enter Email id</div>
                            <div ng-messages="studentForm.semail.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>

                    </div>
                <div layout="row">
                    <md-input-container class="md-block" flex="33">
                        <label>Height</label>
                        <input required md-no-asterisk name="sheight" ng-model="student.sheight" class="m-b-5">
                        <div class="hint md-caption">Enter Student height in Feet</div>
                        <div ng-messages="studentForm.sheight.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block m-l-10" flex="33">
                        <label>Weight</label>
                        <input required md-no-asterisk name="sweight" ng-model="student.sweight" class="m-b-5">
                        <div class="hint md-caption">Enter Student Weight in Kgs</div>
                        <div ng-messages="studentForm.sweight.$error">
                                <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block m-l-10" flex="33">
                        <label>Waist</label>
                        <input required md-asterisk name="swaist" ng-model="student.swaist" class="m-b-5">
                        <div class="hint md-caption">Enter Student Waist size in Inch</div>
                        <div ng-messages="studentForm.swaist.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block m-l-5" flex="33" layout="column" layout-align="center">
                        <label>Gender</label>
                        <md-radio-group ng-model="student.sgender" layout="row" class="m-t-30">
                            <md-radio-button value="Male" class="md-primary">Male</md-radio-button>
                            <md-radio-button value="Female" class="md-primary">Female</md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                    <div flex="33" layout="column" layout-align="center start">
                        <md-datepicker ng-model="sdob" md-placeholder="Enter DOB"></md-datepicker>
                    </div>
                    <md-switch ng-model="student.sState" aria-label="Switch 1" class="md-primary m-t-30">
                     Student Status <span ng-if="status == true">Active</span><span ng-if="status == false">Inactive</span>
                    </md-switch>
                </div>

            <fieldset class="standard m-t-35" >
            <legend>Health Related Issue</legend>
                <div layout="row" layout-wrap flex class="p-20">
                    <div flex="50" ng-repeat="item in ['Asthama','Frequent Colds','Behavioural issues','Blackouts/Fainting']">
                    <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                        {{ item }}
                    </md-checkbox>
                    </div>
                </div>
            </fieldset>


            <div layout="row" layout-align="end" class="m-t-45">
                <md-button class="md-raised md-primary">Cancel</md-button>
                <md-button class="md-raised addon-bg white-text" ng-click="addStudent(student)">Submit</md-button>
            </div>





        </form>
      </md-card>
</div>
