<div class="p-50" style="overflow:auto;">
        <md-card class="p-25 m-0">
            <div layout="row">
                <div class="studentdata" layout="column" layout-align="center center">
                    <img src="assets/images/{{student.sgender}}.gif" alt="" class="circle_radius" width="50">
                    <div layout="row" class="m-t-15">
                        <md-button class="md-raised md-primary md-button md-buttons ad-btn" ng-click="editStudent(student.user)">
                            Edit profile
                        </md-button>
                        <md-button class="md-raised md-primary md-button md-buttons ad-btn" ng-click="sendmsg()">
                            Send Message
                        </md-button>
                    </div>
                </div>
                <div flex layout="column" class="m-l-45">
                     <div layout="row" class="m-b-15">
                         <div layout="column">
                             <span class="md-title black-text text-capitalize">{{student.sfname + ' ' + student.slname}}</span>
                             <span class="md-body-1">VI Class</span>
                        </div>
                        <span flex></span>
                        <div class="school_logo"><img src="assets/images/logo.png" alt="Next School" width="80%"></div>

                     </div>

                     <span class="m-b-5">Age : <span class="addon-color md-subhead">{{student.sage}}</span></span>
                     <div layout="row">
                        <span class="m-b-5">Blood Group : </span><span class="addon-color md-subhead">&nbsp;{{student.sbGroup}}</span><img src="assets/images/blooddrop.png" alt="" class="m-l-10 blooddrop animated infinite slideInDown">
                     </div>

                     <span class="m-b-5">School : <span class="addon-color md-subhead">Next Education School</span></span>

                     <div layout="row" layout-align="start center" class="border-top p-t-25 m-t-15">
                         <div layout="column">
                                <span class="m-b-10 md-caption">BMI</span>
                                <span class="md-display-1 primary-color">{{student.bmireport}}</span>
                         </div>
                         <div layout="column" class="m-l-45">
                                <span class="m-b-10 md-caption">Waist-Height-Ratio</span>
                                <span class="md-display-1 primary-color">{{student.waistreport}}</span>
                         </div>
                         <div layout="column" class="m-l-45">
                                <span class="m-b-10 md-caption">Health Issues</span>
                                <span class="md-display-1 primary-color">{{student.shSuggest.length}}</span>
                         </div>
                         <div layout="column" class="m-l-45">
                                <span class="m-b-10 md-caption">Tips Suggested</span>
                                <span class="md-display-1 primary-color">1</span>
                         </div>


                     </div>
                </div>
            </div>
        </md-card>

        <div class="m-t-45"></div>

        <h3 class="md-headline">Health Analysis Report</h3>

        <md-card class="p-25 m-0">
            <h3 class="score-title">BMI SCORE</h3>
            <div layout="row" layout-align="space-between center">
                <div flex="50">

                    <md-icon class="bmi-report  animated pulse infinite" ng-class="bmiclass(student.bmireport)">favorite</md-icon>
                    <span class="bmi-score">{{student.bmireport}}</span>
                    <p class="md-title">See how many points student scored in set of questions related to your BMI Analysis.</p>

                    <h4 class="md-heading">Keep Your health Fit...</h4>
                    <ul class="md-subhead">
                        <li>Jogging</li>
                        <li>Aerobics or cycling class</li>
                        <li>Playing singles tennis</li>
                        <li>Heavy yard work, like shoveling</li>
                    </ul>
                </div>
                <div flex-gt-md="45" flex-gt-sm="45" flex="50" class="bmi-scale border-top">
                    <div layout="row" class="border-bottom" ng-repeat="item in bmilist">
                        <div flex class="m-t-5 text-uppercase">{{item}}</div>
                        <div class="{{item}}" flex></div>
                    </div>
                    <!-- <h3 class="m-t-45">Your suggested healthy weight range <span class="red-text">50.4 - 67.8kg</span></h3>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p> -->
                </div>
            </div>

        </md-card>
        <br/>
        <md-card class="p-25 m-0">
                <h3 class="score-title">Waist-height Report <span class="md-title" ng-if="student.waistreport > 50">/ Losing <span class="red-text md-title">{{reducereport(student.waistreport)}} cm</span> off your waist</span></h3>
                <div layout="row" layout-align="space-between center">
                    <div flex="65">
                        <md-icon class="bmi-report animated jello infinite waist" ng-class="waistclass(student.waistreport,student.sgender)">accessibility</md-icon>
                        <span class="bmi-score">{{student.waistreport}}</span>
                        <hr class="m-t-15 m-b-15" />
                        <p class="md-title">See how many points student scored in set of questions related to your Waist height Ratio Analysis.</p>

                        <h4 class="md-heading">Keep Your health Fit...</h4>
                        <ul class="md-subhead">
                            <li>High fiber foods</li>
                            <li>Wild-caught fish </li>
                            <li>Avoid getting too hungry that can cause you to overeat later, eat about every 4 hours</li>
                            <li>People who eat at least 3-4 ounces of protein per meal tend to feel more satisfied and eat less overall.</li>
                        </ul>
                    </div>
                    <div flex-gt-md="30" flex-gt-sm="45" flex="50" class="bmi-scale border-top">
                        <!-- <div layout="row" class="border-bottom" ng-repeat="item in waistlist">
                            <div flex class="m-t-5 text-uppercare">{{item.type}}</div>
                            <div class="{{item.type | spaceless | lowercase}}" flex></div>
                        </div> -->

                        <div layout="column" class="border-bottom m-b-10" ng-repeat="item in waistlist">
                                <div flex class="m-t-5 text-uppercare m-b-5">{{item.type}}</div>
                                <div class="{{item.type | spaceless | lowercase}} linebase" flex></div>
                        </div>

                        <div layout="column" class="m-t-25" ng-if="student.waistreport > 50">
                            <span class="red-text m-b-10">You are above the 0.50 limit.</span>
                            <span class="md-title">Losing <span class="red-text">{{reducereport(student.waistreport)}} cm</span> off your waist will lower the risk of diabetes, heart disease and stroke</span>
                        </div>
                    </div>
                </div>

            </md-card>


</div>
