<md-toolbar class="md-hue-3 white lms_box_shadow_2" style="min-height:80px;">
  <div class="md-toolbar-tools" style="min-height:80px;">
    <md-button class="md-icon-button m-l-20" aria-label="Settings" back-button>
      <md-icon class="blue-grey-text text-lighten-3">arrow_back</md-icon>
    </md-button>
    <span flex></span>
    <img src="assets/images/schoollogo.png" alt="Nextschool" width="36" class="m-r-15"> Next Health School
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Chapters" ng-click="chapterslist()">
      <md-icon class="blue-grey-text text-lighten-3">search</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="subjects" ng-click="subjectslist()">
      <md-icon class="blue-grey-text text-lighten-3">notifications</md-icon>
    </md-button>

    <md-menu md-position-mode="target-right target">
      <md-button class="md-icon-button m-r-20" aria-label="Settings" ng-click="$mdOpenMenu()">
        <md-icon class="blue-grey-text text-lighten-3">more_vert</md-icon>
      </md-button>
      <md-menu-content width="2">
        <md-menu-item>
          <md-button ng-click="null">
            <md-icon>settings</md-icon>
            Settings
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="null">
            <md-icon>power_settings_new</md-icon>
            Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
