<md-list class="height100">
  <md-list-item class="md-2-line white m-b-10" ng-repeat="student in studentlist track by $index" ng-if="$index < 3">
    <div class="md-list-item-text p-25" layout="row" layout-align="start center">
      <img src="assets/images/user_default.png" class="md-avatar"  />
      <div layout="column" flex>
        <h3 class="accent-color">{{student.sfname + ' ' + student.slname}}</h3>
        <p>Age:{{student.sage}} Blood Group: {{student.sbGroup}}</p>
      </div>
      <md-button class="md-raised md-primary" ng-click="viewStudent(student.user)">View</md-button>
    </div>
  </md-list-item>
</md-list>
