<md-list class="height100">
  <md-list-item class="md-2-line white m-b-10" ng-repeat="item in studentlist">
    <div class="md-list-item-text p-25" layout="row" layout-align="start center">
      <img src="assets/images/user_default.png" class="md-avatar"  />
      <div layout="column" flex>
        <h3 class="accent-color">Student name</h3>
        <p>Age:15 Blood Group: B+</p>
      </div>
      <md-button class="md-raised md-primary">View</md-button>
    </div>
  </md-list-item>
</md-list>
