<div class="p-l-50 p-r-50 p-t-20 student-list " style="overflow:auto;">
<div layout="row" layout-align="space-between center">
    <h1 class="md-headline black-text">Student List</h1>
    <md-button class="md-button md-raised addon-bg white-text ad-btn" ng-click="addStudent()">Add a New Student</md-button>
</div>
<md-list class="height100 alternate">
    <md-list-item class="md-2-line m-b-0 blue-grey lighten-4" layout="row">
    <div class="md-list-item-text header" layout="row" flex>
        <p flex="30"> Student Name </p>
        <p flex="30">Age </p>
        <p flex="30">Joined Date </p>
        <p flex="30">Blood Group </p>
        <p flex="30">Status </p>
        <p> Actions </p>
    </div>
    </md-list-item>
    <md-list-item class="md-2-line m-b-0 white" layout="row" ng-repeat="slist in slists">
    <div class="md-list-item-text p-10 list" layout="row" flex>
        <p flex="30" layout="row" layout-align="start center">{{slist.sfname}}</p>
        <p flex="30" layout="row" layout-align="start center">{{slist.sage}}</p>
        <p flex="30" layout="row" layout-align="start center">{{slist.sdob}}</p>
        <p flex="30" class="capital" layout="row" layout-align="start center">{{slist.sbGroup}} </p>
        <p flex="30" layout="row" layout-align="start center">
        <md-button class="md-button list-button m-0">
            <md-icon class="green-text material-icons list-icon m-0 p-0">brightness_1</md-icon>
            Active
        </md-button>
        </p>
        <p class="p-r-25">
        <md-menu>
            <md-button aria-label="Open more interactions menu" class="md-icon-button md-primary p-0 m-0" ng-click="$mdOpenMenu()">
            <md-icon md-menu-origin class="material-icons">more_horiz</md-icon>
            </md-button>
            <md-menu-content width="2" layout="column" layout-align="space-between center">

            <md-menu-item class="width100">
                <md-button class="md-mini" ng-click="editStudent(slist.user)">
                <md-icon class="material-icons list-icon">edit</md-icon>
                Edit
                </md-button>
            </md-menu-item>
            <md-menu-item class="width100">
                <md-button class="md-mini" ng-click="deleteStudent(slist.user)">
                <md-icon class="material-icons list-icon">delete</md-icon>
                Delete
                </md-button>
            </md-menu-item>
            <md-menu-item class="width100">
                <md-button class="md-mini" ng-click="viewStudent(slist.user)">
                <md-icon class="material-icons list-icon">remove_red_eye</md-icon>
                View
                </md-button>
            </md-menu-item>

            </md-menu-content>
        </md-menu>
        </p>
    </div>
    <md-divider class="d-border"></md-divider>
    </md-list-item>
</md-list>
</div>
