<div class="login-page" layout="row" layout-align="center center" flex="100">
  <md-card class="animated zoomInUp" layout="column" flex-xs="80" flex-sm="70" flex="25">
    <form name="login">
      <md-card-title class="blue white-text">
        <md-card-title-text>
          <span class="md-headline">SIGN IN</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content class="md-padding relative" layout="column">
          <md-button aria-label="User" class="user md-fab md-raised absolute">
              <md-icon class="material-icons blue-text">account_circle</md-icon>
          </md-button>
        <md-input-container class="md-icon-float md-block">
          <label>Phone</label>
          <md-icon class="material-icons name">phone</md-icon>
          <input type="text" name="user" ng-model="credentials.user" required/>
        </md-input-container>
        <md-input-container class="md-icon-float md-block m-0" ng-if="hasOtp">
          <label>OTP</label>
          <md-icon class="material-icons name">phonelink_lock</md-icon>
          <input type="text" name="otp" ng-model="credentials.otp" required />
        </md-input-container>
        <md-input-container class="md-icon-float md-block m-0" ng-if="!isNewUser">
          <label>Password</label>
          <md-icon class="material-icons name">vpn_key</md-icon>
          <input type="password" name="password" ng-model="credentials.password" required />
        </md-input-container>
        <div layout="row" layout-align="end center" class="blue-text newuser"><span ng-click="isNewUser= !isNewUser">New User?</span></div>
      </md-card-content>
      <md-card-actions class="md-padding m-t-0 p-t-0" layout="row" layout-align="center center">
        <md-button class="md-raised md-primary signin" ng-click="sendOtp(credentials)" ng-disabled="login.user.$invalid" ng-if="!hasOtp && isNewUser">Send OTP</md-button>
        <md-button class="md-raised md-primary signin" ng-click="confirmOtp(credentials)" ng-disabled="login.user.$invalid || login.otp.$invalid || login.password.$invalid" ng-if="hasOtp && !isNewUser">Confirm OTP</md-button>
        <md-button class="md-raised md-primary signin" ng-click="userLogin(credentials)" ng-disabled="login.user.$invalid || login.password.$invalid" ng-if="!hasOtp && !isNewUser">SIGN IN</md-button>
      </md-card-actions>
    </form>
  </md-card>
  </div>
